.left_cart{
  .food_area .food_block .food img{
    height: auto;
  }
  .wrp_fields_different{
    label{
      display: none;
    }
    input{
      width: 200px;
    }
     .wrap_time_select .form-group, .form-group{
      width: auto;
       float: right;
    }
    .form-group{

      float: right;
    }



    .datetimepicker{
      //left: -84px;
    }
  }
  .food_area .food_block .food{
    padding-bottom: 0;
    margin-bottom: 0;
    align-items: center;
  }
}